#
# Apache/PHP/WP settings:
#
#php_value memory_limit 256M
#php_value upload_max_filesize 50M
#php_value post_max_size 50M
#php_value max_input_vars 3000

DirectoryIndex index.php

Options All -Indexes

Options +FollowSymlinks

#require pass and login
AuthUserFile /var/www/html/.htpasswd
AuthGroupFile /dev/null
AuthName "Acces securise"
AuthType Basic
Require valid-user

#rewrite to www
#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^netapsys-press.netapsys.fr$
#RewriteRule ^(.*) http://www.netapsys-press.netapsys.fr/$1 [QSA,L,R=301]

# Authentification ou non selon l'environnement de deploiement
SetEnvIf HOST "localhost" SERVER_ENV_LOCAL !SERVER_ENV_RECETTE !SERVER_ENV_PREPROD !SERVER_ENV_PROD
SetEnvIf HOST "telma-interface-recrutement-recette[.]netapsys[.]fr" !SERVER_ENV_LOCAL SERVER_ENV_RECETTE !SERVER_ENV_PREPROD !SERVER_ENV_PROD
SetEnvIf HOST "preprod[.]telma-ressources-humaines[.]netapsys[.]fr" !SERVER_ENV_LOCAL !SERVER_ENV_RECETTE SERVER_ENV_PREPROD !SERVER_ENV_PROD


Order deny,allow
deny from all
allow from env=SERVER_ENV_LOCAL
allow from env=SERVER_ENV_RECETTE
allow from env=SERVER_ENV_PREPROD
allow from env=SERVER_ENV_PROD
Satisfy any

# Repertoire virtuel de Base differente par environnement pour la reecriture d'URL

SetEnvIf HOST "localhost" PROJECT_BASE_PATH=/projets/telmarh/srcs/
SetEnvIf HOST "telma-interface-recrutement-recette[.]netapsys[.]fr" PROJECT_BASE_PATH=/
SetEnvIf HOST "preprod[.]telma-ressources-humaines[.]netapsys[.]fr" PROJECT_BASE_PATH=/

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . %{ENV:PROJECT_BASE_PATH}index.php [L]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /projets/telmarh/srcs/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /projets/telmarh/srcs/index.php [L]
</IfModule>

# END WordPress
