a{
  color: #c80f2d;
}

form[name~="page-loginform"],
form[name~="page-lostpassword"] {
  border: 1px solid #c1c1c1;
  padding: 10% 20%;
  margin-top: 62px;
  font-family: sans-serif;
  p {
    // display: grid;
    // grid-template-columns: 45% 45%;
    // margin-bottom: 2rem;
    // grid-gap: 30px;
    // @media (max-width: 768px) {
    //   grid-template-columns: 100%;
    //   grid-gap: 12px;
    // }
    // font-size: 14px;
    // @supports (-webkit-appearance: none) {
      // padding: 0.5vw;     
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      display: -webkit-box;
      display: flex;
      align-items: left;
     
    // }
  }
  p.error {
    grid-template-columns: 100%;
    color: #f00;
  }
  label,.lostpassword,.signup{
    // @supports (-webkit-appearance: none) {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: 0 0 45%;
      margin: .5vw; 
      @media (max-width: 768px) {
          flex: 0 0 100%;
      }
    // }
  }
  input {
    padding: 0.5rem 0.75rem;
    &.error {
      border-color: #be3631;
    }
    outline:none;
    border: 1px solid #d9d9d9;
    // @supports (-webkit-appearance: none) {      
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: 0 0 45%;
      margin: .5vw; 
      @media (max-width: 768px) {
          flex: 0 0 100%;
      }
    // }
  }
  
  input.error {
    border-color: #f00;
  }
  input[type="submit"] {
    background: #e57e75;
    padding: 0.7em;
    width: 100px;
    border: 0;
    cursor: pointer;
    // @supports (-webkit-appearance: none) { 
      flex: 0 0 100px;
    // }
  }
  input[type="submit"]:hover {
    background-color: #c80f2d;
  }
  .signup,
  .lostpassword {
    color: #c80f2d;
  }
  .login-remember label {
    cursor: pointer;
  }
  .login-remember label:hover {
    .uncheck-bg {
      border-color: #c80f2d;
      background-color: #fff;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    //background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + span {
    .check-bg {
      content: "";
      display: block;
      margin: auto;
      width: 8px;
      height: 11px;
      border: solid #c80f2d;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  .uncheck-bg {
    display: inline-block;
    border: 1px solid;
    // border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #c1c1c1;
  }
  .uncheck-bg:hover {
    border-color: #c80f2d;
    background-color: #fff;
  }
}
