body {
    background: #fff;
    font-family: 'arial', sans-serif;

    &.nav-opened {
        // overflow: hidden;
    }
}

.screen-reader-text {
    display: none;
}

header#header {
    height: 90px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;

    .nav-right, .nav-left {
        position: relative;
        z-index: 5;
        padding: 15px;
    }

    .nav-left {
        float: left;

        .bt-toggle {
            display: inline-block;
            width: 32px; height: 32px;
            border: none;
            background: url("../images/menu-btn.png") 0 0 no-repeat;
            vertical-align: middle;
            position: relative;
            z-index: 20;
            outline: none;
            cursor: pointer;
            background-size: cover;


            @media (min-width: 576px) {
                width: 48px; height: 48px;
            }

            &.opened {
                background-position: top right;
            }
        }

        .logo {
            margin-left: 20px;

            img {
                width: 70px;
                height: auto;
                vertical-align: middle;
                margin-top: 6px;

                @media (min-width: 576px) {
                    width: 100px;
                }
            }

            .home & {
                display: none;
            }
        }

        .navigation {
            position: fixed;
            top: 0; left: 0;
            background: #d30630;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: table;
            overflow: hidden;
            transition: top .5s;

            &.nav-close {
                // display: none;
                top: -200%;
            }

            .nav-td {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0 auto;
                line-height: 1;
                max-width: 720px;

                li {
                    padding: 5px 0;

                    a {
                        // font-size: 30px;
                        font-size: 18px;
                        color: #fff;
                        text-transform: uppercase;
                        display: block;
                        padding: 7px 0;
                        // padding: 24px 0;

                        @media (min-width: 576px) {
                            font-size: 25px;
                            padding: 14px 0;
                        }

                        &:hover {
                            background-color: #f8093a;
                            text-decoration: none;
                        }
                    }
                }
            }

        }
    }

    .nav-right {
        float: right;
        z-index: 4;

        .btn-login {
            font-size: 14px;
            color: #646469;

            @media (min-width: 576px) {
                font-size: 18px;
            }

            &:hover, &:focus, &:active {
                text-decoration: none;
                color: #d30630;
            }
        }

        .login {
            position: absolute;
            top: 55px;
            right: 15px;
            background: #fff;
            // width: 300px;
            padding: 20px;
            width: auto;

            &.nav-close {
                display: none;
            }

            &:before {
                border-bottom: 14px solid #fff;
                border-left: 17px solid transparent;
                border-right: 17px solid transparent;
                content: "";
                display: block;
                height: 0; width: 0;
                position: absolute;
                left: 75%;
                top: -13px;
                z-index: 1;
            }

            form {
                label {
                    font-size: 14px;
                    color: #646469;
                    white-space: nowrap;
                }

                .input_text {
                    width: 100%;
                    line-height: 26px;
                    height: 26px;
                    color: #333;
                    font-size: 14px;
                    padding: 0 5px;
                    border: 1px solid #dbdbdb;
                }

                .login-remember {
                    margin-bottom: 25px;
                }

                .login-submit {
                    text-align: center;
                    margin-bottom: 25px;

                    .button-primary {
                        line-height: 30px;
                        font-size: 14px;
                        color: #fff;
                        background-color: #e57e75;
                        padding: 0 15px;
                        border: none;
                    }
                }

                .login-links {
                    font-size: 14px;
                    margin-bottom: 0;

                    a {
                        color: #646469;

                        &.signup {
                            float: right;
                        }
                    }
                }

                .error {
                    font-size: 13px;
                    color: #f00;
                }
            }

        }
    }

    &:after {
        border-top: 90px solid #d30630;
        border-right: calc(100vw) solid transparent;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        .home & {
            border-right: calc(40vw) solid transparent;
        }
    }
}

.site-footer {
    &:after {
        border-bottom: 90px solid #d30630;
        border-left: calc(40vw) solid transparent;
        width: 0;
        height: 0;
        content: "";
        display: block;
        float: right;
    }
}

#page {
    @media #{$min992} {
        min-height: 96vh;
    }
}
.site-footer {
    background: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}