.home {
    padding: 0 0 90px;
}
.home-hero {
    height: 385px;
    background-position: center center;
    background-size: cover;
    margin-bottom: -210px;
    position: relative;

    &:after {
        background-color: transparent;
        border: 0 solid transparent;
        border-left: calc(100vw) solid transparent;
        border-bottom: 90px solid #fff;
        bottom: 0;
        content: '';
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .logo-home {
        padding-top: 75px;
        margin-left: calc(35vw);

        @media (min-width: 576px) {
            //padding-top: 35px;
            padding: 72px 35px 37px;
        }

        img {
            width: 154px;
            height: auto;

            @media (min-width: 576px) {
                width: auto;
            }
        }


    }
}

.cards {
    margin-right: -15px;
    margin-left: -15px;

    .card-item {
        padding-top: 15px;
        padding-bottom: 15px;
        .animate-plus {
            opacity: 0;
            > div {
                background-color: #c80f2d;
                background-size: cover;
                background-position: center center;
                padding: 15px;
            }
            a {
                display: block;
                padding: 15px;
                width: 100%;
                height: 100%;

                &:hover {
                    text-decoration: none;
                    //background-color: rgba( 0,0,0,0.3 );
                }
            }
            p {
                font-size: 18px;
                color: #fff;
                line-height: 1;

                i {
                    font-size: 36px;
                }

                @media (min-width: 576px) {
                    font-size: 24px;
                }
            }
        }
        .animate-tilt {
            transition: box-shadow .3s linear;
            &:hover {
                @include browserCss('box-shadow', 0 15px 30px rgba(0, 0, 0, 0.5));
            }
        }
    }

    .connecter {
        height: 480px;
        margin-top: 160px;
    }

    .rechercher {
        height: 290px;

        @media (min-width: 768px) {
            margin-top: 80px;
        }
    }

    .decouvrir {
        height: 240px;

        @media (min-width: 992px) {
            height: 370px;
        }
    }

    .contacter {
        height: 240px;
    }
}

.slick-prev, .slick-next {
    width: 36px;
    height: 36px;
}

.slick-prev::before, .slick-next::before {
    color: #d30630;
    font-size: 36px;
}

.slick-slide {
    .client-container {
        text-align: center;
        line-height: 118px;
    }

    img {
        display: inline-block;
        max-width: 100%;
    }
}

#home-clients {
    h3 {
        font-size: 36px;
        color: #c80f2d;
        line-height: 1;
        padding: 30px 0;
        @media #{$min568} {
            font-size: 48px;
        }
    }
}

.job-last {
    h3 {
        font-size: 36px;
        color: #c80f2d;
        line-height: 1;
        padding: 30px 0;
        @media #{$min568} {
            font-size: 48px;
        }
    }
    .job-item {
        border-bottom: 1px solid #cdcdcd;
        padding-top: 15px;
        .img-show {
            margin-bottom: 10px;
            @media #{$min568} {
                margin-bottom: 0;
            }
        }
        .right {
            @media #{$min568} {
                order:1;
            }
            figure {
                justify-content: flex-end;
                text-align: right;
            }
        }
        figure {
            align-items: center;
            display: flex;
            
            height: 100%;
            justify-content: flex-start;
            margin-bottom: 0;
            text-align: left;
            @media #{$min568} {
            }
        }

        h5 {
            font-size: 12px;
            text-transform: uppercase;

            a {
                color: #d30630;
                
            }

            .label {
                display: inline-block;
                vertical-align: top;
                padding: 0 3px;
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                color: #fff;
                background-color: #c80f2d;
                text-transform: capitalize;
            }
        }

        p {
            font-size: 12px;
            margin-bottom: 10px;

            .link-more {
                color: #646469;
            }
        }
        
    }
    .link-underlined{
        text-decoration: underline;
    }
    .link-container{
        padding:10px 0;
    }

}