.page-standard {
    padding: 0 0 90px;
    h1 {
        // border-bottom: 1px solid #cdcdcd;
        color: #c80f2d;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        @media #{$min640} {
            font-size: 30px;
            // font-size:8.5714285714em;
        }
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
    header {
        margin-bottom: 10px;
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .grid-container{
        padding-top:75px;
    }
    .grid-content{
        display:grid;
        grid-template-columns: repeat(4,calc(100%/4 - 10px));
        grid-gap: 10px;
        grid-auto-flow: dense;
        grid-auto-rows: minmax(17vw, auto);
        @media (max-width: 768px) {
            grid-template-columns: repeat(2,calc(100%/2 - 10px));
        }
    }
    .item-grid{
        align-self: center;
        justify-self: center;
        position: relative;
        // width: 50%;	
    }
    .item-grid-grise{
        align-self: center;
        justify-self: center;
        position:relative;
        border: 1px solid #636466;
        // img{
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }
    }
    .item-grid:before{
        content: "";
        display: block;
        // padding-top: 100%; 	/* initial ratio of 1:1*/
    }
    .item-grid-grise:before{
        content: "";
        display: block;
        // padding-top: 100%;
    }
    
    
    .img-item{
        max-width:100%;
        min-width: 100%;
        height: auto;
        /* object-fit: cover; */
        /* height: inherit; */
        // max-height: 100%;
    }
}